section.adress {
  margin-top: 0;
}

.room-header {
  position: fixed;
  width: 100%;
  background: rgb(24, 48, 71);
  padding-top: 15px;
  padding-bottom: 20px;
  z-index: 15;
}

.hotel-room {
  padding-top: 60px;
}
.hotel-room__header {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin-bottom: 40px;
}
.hotel-room-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.hotel-room__arrow {
  height: 22px;
  margin-right: 20px;
}
.hotel-room__name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 49px;
  margin-right: 20px;
}
.hotel-room__price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.hotel-room__price-number {
  font-weight: bold;
}
.hotel-room__swiper {
  width: 515px;
  height: 385px;
  border-radius: 9px;
  margin: 0;
}
.hotel-room__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.hotel-room__text {
  width: 510px;
  font-family: Montserrat;
}
.hotel-room__text-header {
  font-weight: 600;
  font-size: 26px;
  line-height: 29px;
  margin-bottom: 25px;
}
.hotel-room__text-info {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px;
}
.hotel-room__text-info:last-child {
  margin-bottom: 0px;
}

.swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button {
  transform: translate(0, -20%);
}
.swiper-button::after {
  content: "";
  background: none;
}

.parametrs {
  padding-top: 40px;
}
.parametrs-wrapper {
  display: flex;
  justify-content: space-between;
  width: 980px;
}
.parametrs__list {
  display: flex;
  align-items: center;
  width: 780px;
  justify-content: space-between;
}
.parametrs__header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.parametrs__item {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
.parametrs .container {
  padding-bottom: 35px;
  border-bottom: 1px solid #B9B0B0;
}

.amenities {
  padding-top: 35px;
  padding-bottom: 80px;
}
.amenities__header {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
.amenities__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.amenities__img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.amenities__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}
.amenities__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.hotel-room__map {
  width: 600px;
  height: 450px;
  margin-bottom: 30px;
}

.rev-book__booking {
  margin-bottom: 70px;
}

@media (min-width: 1600px) {
  .hotel-room {
    padding-top: 80px;
  }
  .hotel-room__header {
    margin-bottom: 40px;
  }
  .hotel-room__arrow {
    height: 27px;
    margin-right: 20px;
  }
  .hotel-room__name {
    font-size: 42px;
    line-height: 49px;
    margin-right: 20px;
  }
  .hotel-room__price {
    font-size: 30px;
    line-height: 32px;
  }
  .hotel-room__swiper {
    width: 650px;
    height: 485px;
  }
  .hotel-room__text {
    width: 610px;
    margin-right: 60px;
  }
  .hotel-room__text-header {
    font-size: 29px;
    line-height: 32px;
  }
  .hotel-room__text-info {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 15px;
  }
  .parametrs {
    padding-top: 60px;
  }
  .parametrs-wrapper {
    width: 1200px;
  }
  .parametrs__list {
    width: 980px;
  }
  .parametrs__header {
    font-size: 30px;
    line-height: 32px;
  }
  .parametrs__item {
    font-size: 30px;
    line-height: 32px;
  }
  .hotel-room__map {
    width: 600px;
  }
}
@media (max-width: 1140px) {
  .hotel-room {
    padding-top: 50px;
  }
  .hotel-room__header {
    margin-bottom: 15px;
  }
  .hotel-room__arrow {
    height: 23px;
    margin-right: 15px;
  }
  .hotel-room__name {
    font-size: 25px;
    line-height: 49px;
    margin-right: 20px;
  }
  .hotel-room__swiper {
    width: 460px;
    height: 335px;
  }
  .hotel-room__text {
    width: 400px;
  }
  .hotel-room__text-header {
    font-size: 20px;
    line-height: 22px;
  }
  .hotel-room__text-info {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .parametrs-wrapper {
    width: 850px;
  }
  .parametrs__list {
    width: 680px;
  }
  .parametrs__header {
    font-size: 22px;
    line-height: 24px;
  }
  .parametrs__item {
    font-size: 22px;
    line-height: 24px;
  }
}
@media (max-width: 970px) {
  .hotel-room__info {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .hotel-room__text {
    width: 600px;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .hotel-room__text-info {
    font-size: 21px;
    line-height: 23px;
  }
  .hotel-room__text-header {
    font-size: 25px;
  }
  .hotel-room__swiper {
    width: 500px;
    height: 365px;
  }
  .parametrs-wrapper {
    width: 700px;
  }
  .parametrs__list {
    width: 550px;
  }
  .parametrs__header {
    font-size: 18px;
    line-height: 22px;
  }
  .parametrs__item {
    font-size: 18px;
    line-height: 22px;
  }
}
.amenities {
  padding-top: 35px;
}
.amenities__header {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 22px;
  line-height: 25px;
}
.amenities__img {
  width: 35px;
  height: 35px;
  margin-right: 17px;
}
.amenities__text {
  font-size: 20px;
  line-height: 25px;
}
.amenities__item {
  margin-bottom: 20px;
}

@media (max-width: 810px) {
  .hotel-room__arrow {
    height: 27px;
    margin-right: 20px;
  }
  .hotel-room__name {
    font-size: 30px;
    line-height: 30px;
    margin-right: 20px;
  }
  .hotel-room__price {
    font-size: 27px;
    line-height: 32px;
  }
  .hotel-room__swiper {
    width: 500px;
    height: 365px;
  }
  .hotel-room__text {
    width: 610px;
  }
  .hotel-room__text-header {
    font-size: 26px;
    line-height: 28px;
  }
  .hotel-room__text-info {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 15px;
  }
  .parametrs-wrapper {
    width: 600px;
  }
  .parametrs__list {
    width: 500px;
  }
  .parametrs__header {
    font-size: 15px;
    line-height: 18px;
  }
  .parametrs__item {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 620px) {
  .hotel-room__arrow {
    height: 23px;
    margin-right: 20px;
  }
  .hotel-room__name {
    font-size: 25px;
    line-height: 27px;
    margin-right: 17px;
  }
  .hotel-room__price {
    font-size: 23px;
    line-height: 32px;
  }
  .hotel-room__swiper {
    width: 480px;
    height: 350px;
  }
  .hotel-room__text {
    width: 610px;
  }
  .hotel-room__text-header {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .hotel-room__text-info {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 15px;
  }
  .amenities {
    padding-top: 35px;
  }
  .amenities__header {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
  }
  .amenities__img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
  }
  .amenities__text {
    font-size: 17px;
    line-height: 20px;
  }
  .amenities__item {
    margin-bottom: 15px;
  }
  .parametrs-wrapper {
    width: 500px;
  }
  .parametrs__list {
    width: 400px;
  }
  .parametrs__header {
    font-size: 13px;
    line-height: 15px;
  }
  .parametrs__item {
    font-size: 13px;
    line-height: 15px;
  }
}
@media (max-width: 500px) {
  .hotel-room__arrow {
    height: 20px;
    margin-right: 15px;
  }
  .hotel-room__name {
    font-size: 15px;
    line-height: 19px;
    margin-right: 15px;
  }
  .hotel-room__price {
    font-size: 15px;
    line-height: 17px;
  }
  .hotel-room__swiper {
    width: 400px;
    height: 200px;
  }
  .hotel-room__text-header {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 6px;
  }
  .hotel-room__text-info {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 15px;
    text-align: justify;
  }
  .parametrs-wrapper {
    width: 100%;
    display: block;
  }
  .parametrs__list {
    width: 100%;
    display: block;
  }
  .parametrs__header {
    font-size: 23px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  .parametrs__item {
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 3px;
  }
  .amenities {
    padding-top: 35px;
  }
  .amenities__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .amenities__header {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
  }
  .amenities__img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }
  .amenities__text {
    font-size: 15px;
    line-height: 17px;
  }
  .amenities__item {
    margin-bottom: 15px;
  }
  .amenities__item:last-child {
    grid-column: 1/span 2;
    margin-left: 50px;
  }
}/*# sourceMappingURL=hotels.css.map */